
    <div class="card mb-3 text-white" style="background-color:#0c1e30" margin="0 auto" >
        <div class="container">
        <div class="row g-0">
        <div class="col-md-4">
            <h2>Products</h2>
            <a  href="home">
                <img
                  src="../../assets/facebook.svg"
                  alt=""
                  width="30"
                  height="30"
                  class="d-inline-block align-text-centre"
                  size="20"
                />
                Facebook
              </a>
              <a  href="home">
                <img
                  src="../../assets/linkedin.svg"
                  alt=""
                  width="30"
                  height="30"
                  class="d-inline-block align-text-centre"
                  size="20"
                />
                LinkedIn
              </a>
              <a  href="home">
                <img
                  src="../../assets/twitter.svg"
                  alt=""
                  width="30"
                  height="30"
                  class="d-inline-block align-text-centre"
                  size="20"
                />
               Twitter
              </a>
