<div
  class="text-white"
  style="background-color: #0c1e30"
  margin="0 auto"
>
  <div class="container-fluid p-5">
    <div class="row g-0 ">
      <div class="col-md-4 text-center">
        <h2 class="mb-4">Products</h2>
        <div class="row mb-3">
          <div class="col-md-12">
            <a href="home" class="text-white">
              <img
                src="../../assets/facebook.svg"
                alt=""
                width="30"
                height="30"
                class="d-inline-block align-text-centre mr-3"
                size="20"
              />
              Facebook
            </a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <a href="home" class="text-white">
              <img
                src="../../assets/linkedin.svg"
                alt=""
                width="30"
                height="30"
                class="d-inline-block align-text-centre mr-3"
                size="20"
              />
              LinkedIn
            </a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <a href="home" class="text-white">
              <img
                src="../../assets/facebook.svg"
                alt=""
                width="30"
                height="30"
                class="d-inline-block align-text-centre mr-3"
                size="20"
              />
              Facebook
            </a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <a href="home" class="text-white">
              <img
                src="../../assets/twitter.svg"
                alt=""
                width="30"
                height="30"
                class="d-inline-block align-text-centre mr-3"
                size="20"
              />
              Twitter
            </a>
          </div>
        </div>

        <img
          src="../../assets/logo-white.png"
          alt=""
          width="130"
          height="70"
          class="d-inline-block align-text-centre mr-3"
          size="20"
        />
        <h5 class="mt-4 mb-4">The simplest way to pay and get paid</h5>
        <h6 class="mt-4 mb-4">All rights reserved © TosPay 2021</h6>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="mb-4" >Get In Touch</h2>

        <div class="row mb-3">
          <div class="col-md-12">
            <a href="tel:+254204400999" class="text-white">+254 20 44 00 999</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <a href="mailto:info@tospay.net" class="text-white"
              >info@tospay.net</a
            >
          </div>
        </div>

        <p class="mb-3">8th Floor, Embankment Plaza</p>
        <p class="mb-3">Longonot Street, Upper Hill</p>
        <div class="container">
          <img
            src="../../assets/visa (1).svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/mastercard (1).svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/mpesa.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/airtel (1).svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/unionpay.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/paypal (1).svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
        </div>
        <div class="container">
          <img
            src="../../assets/uba.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/kcb.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/hsbc (1).svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/alipay.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/tigopay.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
        </div>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="mb-4">Quick Link</h2>
        <div class="row">
          <div class="col-md-12 mb-3"><a href="/about" class="text-white">About Us</a></div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3"><a href="/partners" class="text-white">Partners</a></div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3"><a href="/products" class="text-white">Products</a></div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3"><a href="/contact-us" class="text-white">Contact Us</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
