<div
  class="card mb-3 text-white"
  style="background-color: #0c1e30"
  margin="0 auto"
>
  <div class="container-fluid">
    <div class="row g-0">
      <div class="col-md-4">
        <h2>Products</h2>
        <div class="row">
          <div class="col-md-12">
            <a href="home">
              <img
                src="../../assets/facebook.svg"
                alt=""
                width="30"
                height="30"
                class="d-inline-block align-text-centre"
                size="20"
              />
              Facebook
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="home">
              <img
                src="../../assets/linkedin.svg"
                alt=""
                width="30"
                height="30"
                class="d-inline-block align-text-centre"
                size="20"
              />
              LinkedIn
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="home">
              <img
                src="../../assets/facebook.svg"
                alt=""
                width="30"
                height="30"
                class="d-inline-block align-text-centre"
                size="20"
              />
              Facebook
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="home">
              <img
                src="../../assets/twitter.svg"
                alt=""
                width="30"
                height="30"
                class="d-inline-block align-text-centre"
                size="20"
              />
              Twitter
            </a>
          </div>
        </div>
        
        <img
          src="../../assets/logo-white.png"
          alt=""
          width="50"
          height="50"
          class="d-inline-block align-text-centre"
          size="20"
        />
        <h5>The simplest way to pay and get paid</h5>
        <h6>All rights reserved © TosPay 2021</h6>
      </div>
      <div class="col-md-4">
        <h2>Get In Touch</h2>
        <a href="tel:+254204400999">+254 20 44 00 999</a>
        <a href="mailto:info@tospay.net">info@tospay.net</a>
        <p>8th Floor, Embankment Plaza</p>
        <p>Longonot Street, Upper Hill</p>
        <div class="container">
          <img
            src="../../assets/visa (1).svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/mastercard (1).svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/mpesa.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/airtel (1).svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/unionpay.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/paypal (1).svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
        </div>
        <div class="container">
          <img
            src="../../assets/uba.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/kcb.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/hsbc (1).svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/alipay.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <img
            src="../../assets/tigopay.svg"
            style="display: inline-block"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
        </div>
      </div>
      <div class="col-md-4">
        <h2>Quick Link</h2>
        <div class="row">
          <div class="col-md-12"><a href="/about">About Us</a></div>
        </div>
        <div class="row">
          <div class="col-md-12"><a href="/partners">Partners</a></div>
        </div>
        <div class="row">
          <div class="col-md-12"><a href="/products">Products</a></div>
        </div>
        <div class="row">
          <div class="col-md-12"><a href="/contact-us">Contact Us</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
