<div
  class="container-fluid d-flex align-items-center vh-100"
  style="
    background-image: url('../../assets/home-contact.svg');
    background-size:auto;
  "
>
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Partner with us</h2>
          <h3>We'd love to have you come onboard</h3>
          <p>
            Are you interested in building great payment experiences for your
            business? Get in touch with us
          </p>
          >
        </div>
        <div class="col-md-6">
          <a
            class="btn btn-primary text-white"
            style="border-radius: 30px; background-color: rgb(33, 62, 126)"
            >Send Us An Enquiry</a
          >
        </div>
      </div>
  </div>
</div>
