#enquiryBackground {
  background-image: url("../../assets/home-contact.svg");
  min-height: 50vh;
  background-color: #eaf6fc;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  padding: 0 150px;
}
h2 {
  color: #213e7e;
  font-weight: 900;
  font-size: 2.5em;
}
h3 {
  color: #6fbdd8;
  font-weight: 400;
  margin: 30px 0;
  font-size: larger;
}
a {
  border-radius: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 128, 255);
  border: 2px solid rgb(0, 128, 255);
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  justify-content: center;
  margin-left: 17em;
  margin-top: 6em;
}
