<div

 id="clientsPageBackground"
>
  <div class="row">
    <div class="col-md-6">
      <h2>Who we've worked with</h2>
      <h3>Our esteemed clients</h3>
      <p class="mt-4">
        We pride ourselves inbuilding and fostering long term relationships with
        our clients to ensure they have the necessary tools to grow their
        businesses.
      </p>
      <p>
        We have built solutions with our partners to provide seamless payment
        experiences for their customers.
      </p>
      <a class="btn btn-primary text-white">Learn More</a>
    </div>
    <div class="col-md-6">
      <img
        src="../../assets/clients.svg"
        class="card-header"
        class="d-inline-block align-text-centre"
      
      />
    </div>
  </div>
</div>
