<div
  class="
    container-fluid
    vh-100
    d-flex
    align-items-center
    justify-content-center
  "
  style="
    background-image: url('../../assets/home-clients.png');
    background-size:cover;
  "
>
  <div class="row">
    <div class="col-md-6">
      <h2>Who we've worked with</h2>
      <h3>Our esteemed clients</h3>
      <p>
        We pride ourselves inbuilding and fostering long term relationships with
        our clients to ensure they have the necessary tools to grow their
        businesses.
      </p>
      <p>
        We have built solutions with our partners to provide seamless payment
        experiences for their customers.
      </p>
      <a class="btn btn-primary text-white" style="border-radius: 30px;background-color: rgb(33, 62, 126);">Learn More</a>
    </div>
    <div class="col-md-6">
      <img
        src="../../assets/clients.svg"
        class="card-header"
        width="70%"
        height="70%"
        class="d-inline-block align-text-centre m-3"
        size="20"
      />
    </div>
  </div>
</div>
