<div id="landingPageBackground">
  <div>
    <app-navbar></app-navbar>
  </div>
  <section
    class="d-flex align-items-center position-relative cover"
    id="landingPageHeight"
  >
    <div class="container" id="paddingBody">
      <div class="mb-5">
        <img
          src="../../assets/play.svg"
          width="80"
          height="80"
          class="align-text-centre"
          size="20"
        />

        <div>
          <h1 class="heading fw-bolder">
           <strong> The simplest way to <br />
            and get paid</strong>
          </h1>
          <p class="fs-5 fw-normal">
            The next generation provider of instant, secure, <br />efficient,
            convenient and reliable transfer of money <br />
            in the world
          </p>
        </div>
      </div>
      <div
        class="d-flex justify-content-center d-flex align-items-end"
        id="paddingLogo"
      >
        <img src="../../assets/toggle.svg" width="40" height="40" size="20" />
      </div>
    </div>
  </section>
</div>
