<nav class="navbar sticky-top navbar-light p-2" id="navbarPadding">
  <div class="container-fluid navbarSpaceRemove">
    <a class="navbar-brand pr-5" href="home">
      <img
        src="../../assets/logo.svg"
        alt=""
        width="100"
        height="100"
        class="d-inline-block align-text-centre"
        size="40"
      />
    </a>

    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="about-us">About Us</a>
      <a class="navbar-brand" href="partners">Partners</a>
      <a class="navbar-brand" href="products">Products</a>
      <a class="navbar-brand" href="services">Services</a>
    </div>
  </div>
</nav>
