<nav class="navbar sticky-top navbar-light bg-light p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">
      <img
        src="../../assets/pay.png"
        alt=""
        width="50"
        height="50"
        class="d-inline-block align-text-centre"
        size="20"
      />
      Paynet
    </a>

    <a class="navbar-brand" href="about-us">About Us</a>

    <a class="navbar-brand" href="partners">Partners</a>

    <a class="navbar-brand" href="products">Products</a>

    <a class="navbar-brand" href="services">Services</a>
  </div>
</nav>
