<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sticky top</a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">About Us</a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Partners</a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Products</a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Services</a>
      </div>
  </nav>
