.navbarSpaceRemove{
    justify-content: normal !important;
    
}
#navbarPadding{
    padding-top: 0em !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 10px;

}