<div id="whatwedoBackground">
  <div class="container" >
    <div
      class="card text-white"
      style="background-color: #0c1e30; border-radius: 20px"
      margin="0 auto"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../assets/phone.png"
            class="img-fluid rounded-start"
            alt="..."
            id="overlayPhone"
          />
        </div>
        <div class="col-md-8" id = "cardBody">
          <div class="card-body pt-5">
            <h5 class="card-title">TOSPAY</h5>
            <h2 class="card-text fw-bold"><strong>What We Do.</strong></h2>
            <p class="card-text text-break">
              We build user centric experiences, digital infrastructure, and
              business <br />
              intelligence tools that give everyone the ability to create products
              that fill <br />service disparities in financial service provision.
            </p>
            <p class="card-text text-break">
              Paynet is focused on unlocking value through providing a singular
              interface <br />for real-time connected payments for an automated
              self-service payment <br />
              experience for African business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
