<div class="container">
    <div class="card mb-3 text-white" style="background-color:#0c1e30; border-radius: 20px;" margin="0 auto" >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../assets/phone.png"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Paynet</h5>
            <h2 class="card-text">What We Do.</h2>
            <p class="card-text text-break">
              We build user centric experiences, digital infrastructure, and
              business intelligence tools that give everyone the ability to create
              products that fill service disparities in financial service provision.
            </p>
            <p class="card-text text-break">
              Paynet is focused on unlocking value through providing a singular
              interface for real-time connected payments for an automated
              self-service payment experience for African business.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
