<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Why Paynet</h1>
      <h3>Reasons to use our services</h3>
      <p>
        The gap between what your customers expect has never been wider. All
        your customers, demand a seamless, real-time and hyper-personalized
        experience that complements their digital lifestyle. TosPay has designed
        an open platform where your business can work with partners across of
        all sizes and from across all industries to create personalized products
        and to adopt specialized roles in the new, open ecosystem.
      </p>
      <h2>Key Benefits</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center align-center p-2">
      <div class="card" style="display: inline-block; border-radius: 20px">
        <img
          src="../../assets/unified-payments.svg"
          class="card-header"
          width="50"
          height="50"
          class="d-inline-block align-text-centre m-3"
          size="20"
        />
        <div class="card-body">
          <h5 class="card-title">Unified Payments</h5>
          <p class="card-text">
            Our APIs streamline payments from bank, card or mobile money to any
            other interworking destination including other ewallets
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center align-center p-2">
      <div class="card" style="display: inline-block; border-radius: 20px">
        <img
          src="../../assets/real-time.svg"
          class="card-header"
          width="50"
          height="50"
          class="d-inline-block align-text-centre m-3"
          size="20"
        />
        <div class="card-body">
          <h5 class="card-title">Real-time settlement</h5>
          <p class="card-text">
            Transfer funds across the globe in real-time to enable instant
            settlement to businesses and individuals.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center align-center p-2">
      <div class="card" style="display: inline-block; border-radius: 20px">
        <img
          src="../../assets/secure-payments.svg"
          class="card-header"
          width="50"
          height="50"
          class="d-inline-block align-text-centre m-3"
          size="20"
        />
        <div class="card-body">
          <h5 class="card-title">Secure payments</h5>
          <p class="card-text">
            Our fraud detection and authentication algorithms ensure secure
            payments.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center align-center p-2">
      <div class="card" style="display: inline-block; border-radius: 20px">
        <img
          src="../../assets/payment-convenience.svg"
          class="card-header"
          width="50"
          height="50"
          class="d-inline-block align-text-centre m-3"
          size="20"
        />
        <div class="card-body">
          <h5 class="card-title">Payment Convenience</h5>
          <p class="card-text">
            Using QR, USSD, Mobile and web platforms, we are able to provide end
            users with a variety of payment options.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center align-center p-2">
      <div class="card" style="display: inline-block; border-radius: 20px">
        <img
          src="../../assets/affordable.svg"
          class="card-header"
          width="50"
          height="50"
          class="d-inline-block align-text-centre m-3"
          size="20"
        />
        <div class="card-body">
          <h5 class="card-title">Affordable transaction fees</h5>
          <p class="card-text">We offer the most competitive market rates</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center align-center p-2">
      <div class="card" style="display: inline-block; border-radius: 20px">
        <img
          src="../../assets/forex.svg"
          class="card-header"
          width="50"
          height="50"
          class="d-inline-block align-text-centre m-3"
          size="20"
        />
        <div class="card-body">
          <h5 class="card-title">Competitive Forex fees</h5>
          <p class="card-text">
            We provide access to funds in any currency across Africa seamlessly
            with competitive forex.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
