<div
class="d-flex align-items-center"
id="storyPageBackground"
>
<div class="container text-white">
  
      <h1>OUR STORY</h1>
      <h2>The greater purpose</h2>
      <h3>
        We develop tools to help unlock the growth <br/> potential of African business
      </h3>
      <p>
        Globalization and rapid change in technology have redefined how <br/>we do
        business. This could not be more true in Africa where radical <br/>change due
        to mobile banking and mobile money have redefined <br/>how we make and
        receive payments, forcing organizations to rethink<br/>how they develop
        their solutions.
      </p>
      <p>
        At TosPay we help you define your unique business problem and <br/>create
        innovative custom solutions that seamlessly integrate into you<br/>
        organization, letting you expose your products and services to<br/> greater
        markets, powered by our secure, instant and unified <br/>payments system.
      </p>
      <div class="d-flex justify-content-end align-self-baseline " id= "storyIcon"><img alt="ico" src="../../assets/storyIcon.svg"></div>
    </div>
  
 

</div>