<div id="backgroundColor">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 text-center align-center p-2">
        <div class="card" style="display: inline-block; border-radius: 20px">
          <img
            src="../../assets/government.svg"
            class="card-header"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <div class="card-body">
            <h5 class="card-title"><strong>Enterprise Solutions</strong></h5>
            <p class="card-text">
              We seamlessly integrate our payment solutions into your
              organization. We build technologies that help you create
              innovative products, solutions, and experiences in new markets,
              giving you unlimited growth potential.
            </p>
            <a href="#" class="text-dark "><strong>Learn More ></strong></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center align-center p-2">
        <div class="card" style="display: inline-block; border-radius: 20px">
          <img
            src="../../assets/financial.svg"
            class="card-header"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <div class="card-body">
            <h5 class="card-title"><strong>Financial Instituitons</strong></h5>
            <p class="card-text">
              We build technical infrastructure APIs that connect consumers and
              traditional financial institutions while enhancing business
              models, risk management and data for a fully automated access for
              customers.
            </p>
            <a href="#" class="text-dark "><strong>Learn More ></strong></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center align-center p-2">
        <div class="card" style="display: inline-block; border-radius: 20px">
          <img
            src="../../assets/business.svg"
            class="card-header"
            width="50"
            height="50"
            class="d-inline-block align-text-centre m-3"
            size="20"
          />
          <div class="card-body">
            <h5 class="card-title"><strong>Businesses & Merchants</strong></h5>
            <p class="card-text">
              We enable companies to provide end-to-end financial services and
              businesses to add new revenue channels and increase customer
              retention through next gen financial services.
            </p>
            <a href="#" class=" text-dark "
              ><strong>Learn More ></strong></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
