<div
class="vh-100 d-flex align-items-center justify-content-center"
style="
  background-image: url('../../assets/story.svg');
  background-size: cover;
  "
>
<div class="container text-white">
  <div class="row">
    <div class="col-md-12">
      <h1>OUR STORY</h1>
      <h2>The greater purpose</h2>
      <h3>
        We develop tools to help unlock the growth potential of African business
      </h3>
      <p>
        Globalization and rapid change in technology have redefined how we do
        business. This could not be more true in Africa where radical change due
        to mobile banking and mobile money have redefined how we make and
        receive payments, forcing organizations to rethink how they develop
        their solutions.
      </p>
      <p>
        At TosPay we help you define your unique business problem and create
        innovative custom solutions that seamlessly integrate into you
        organization, letting you expose your products and services to greater
        markets, powered by our secure, instant and unified payments system.
      </p>
    </div>
  </div>
</div>
</div>