<div class="container-fluid">
  <div class="row align-items-center h-100">
    <div class="col-md-6 text-center align-center pl-2">
      <div class ="d-flex justify-content-start">
        <img src="../../assets/play-circle-fill.svg"  width="50"
        height="50"
        class="d-inline-block align-text-centre"
        size="20"/>
      </div>
      <h1>The simplest way to pay and get paid</h1>
      <h3>
        The next generation provider of instant, secure, efficient, convenient
        and reliable transfer of money in the world
      </h3>
    </div>
    <div
      class="col-md-6 vh-100 d-flex align-items-center justify-content-center"
      style="
        background-image: url('../../assets/home-hero.png');
        background-size: cover;
      "
    ></div>
  </div>
</div>
