.image {
  display: block;
  width: 100%;
  height: 100%;
}
// .hero {
//   background-attachment: fixed;
//   transition: transform 0.5s ease-in-out;
// }

// .hero::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }

// .hero .container-fluid {
//   z-index: 10;
// }

#landingPageHeight {
  height: 86vh;
}
#landingPageBackground {
  background-image: url("../../assets/home-hero.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
}
#paddingLogo {
  padding-top: 20em;
}
#paddingBody {
  padding-top: 10em;
  margin-left: 12em;
}
.heading {
  color: #043f8c;
  line-height: 1.13;
  margin: 0 0 30px 0;
  font-weight: 500px !important;
}
