<section
  class="d-flex align-items-center justify-content-around"
  id="partnersHeight"
>
  <img
    src="../../assets/visa.svg"
    style="display: inline-block"
    width="70"
    height="70"
    class="d-inline-block align-text-centre m-3"
    size="20"
  />
  <img
    src="../../assets/mastercard.svg"
    style="display: inline-block"
    width="70"
    height="70"
    class="d-inline-block align-text-centre m-3"
    size="20"
  />
  <img
    src="../../assets/mpesa.png"
    style="display: inline-block"
    width="70"
    height="70"
    class="d-inline-block align-text-centre m-3"
    size="20"
  />
  <img
    src="../../assets/airtel.svg"
    style="display: inline-block"
    width="70"
    height="70"
    class="d-inline-block align-text-centre m-3"
    size="20"
  />
  <img
    src="../../assets/unionpay.png"
    style="display: inline-block"
    width="70"
    height="70"
    class="d-inline-block align-text-centre"
    size="20"
  />
  <img
    src="../../assets/paypal.svg"
    style="display: inline-block"
    width="70"
    height="70"
    class="d-inline-block align-text-centre m-3"
    size="20"
  />
  <img
    src="../../assets/alipay.png"
    style="display: inline-block"
    width="70"
    height="70"
    class="d-inline-block align-text-centre m-3"
    size="20"
  />
  <img
    src="../../assets/uba.png"
    style="display: inline-block"
    width="85"
    height="70"
    class="d-inline-block align-text-centre m-3"
    size="20"
  />
  <img
    src="../../assets/kcb.png"
    style="display: inline-block"
    width="70"
    height="70"
    class="d-inline-block align-text-centre m-3"
    size="20"
  />
  <img
    src="../../assets/hsbc.svg"
    style="display: inline-block"
    width="70"
    height="70"
    class="d-inline-block align-text-centre m-3"
    size="20"
  />
  <img
    src="../../assets/tigo.png"
    style="display: inline-block"
    width="70"
    height="70"
    class="d-inline-block align-text-centre m-3"
    size="20"
  />
</section>
